* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 150px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(https://imgs.search.brave.com/9YhcwsuDKhnL7AJ4J1N-jpcdz4OaN1khKZumE4qeMvE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJhY2Nlc3Mu/Y29tL2Z1bGwvMTQ4/OTM2OS5qcGc);
  background-size: cover;
  gap: 50px;
}
.box1 {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.box2 {
}
table {
  border-collapse: collapse;
}
th {
  border: 1px solid black;
  padding: 5px 15px;
}
td {
  border: 1px solid black;
  padding: 5px 15px;
}
